body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flex {
  display: flex;
}
.space {
  padding-left: 10px;
}
.container {
  /* background-color: aqua; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column1 {
  border: 2px solid #2ec733;
  /* background-color: blue; */
  width: 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.column1 div {
  margin-left: 3%;
  margin-top: 10%;
}
input {
  margin-top: 3%;
  padding: 5px;
  height: 30%;
  border: 2px solid rgb(36, 35, 35);
  border-radius: 20px;
  font-size: 1rem;
}
#one {
  width: 90%;
  margin-top: 3%;
  border: 2px solid rgb(36, 35, 35);
  border-radius: 20px;
  padding: 10px;
  resize: none;
  font-size: 1rem;
}

.column2 {
  margin-left: 1rem;
  border: 2px solid #2ec733;
  /* background-color: red; */
  width: 50%;
  height: 80%;
}

.nav {
  border: 2px solid #2ec733;
}

.shift {
  border-left: 3px solid pink;
  border-right: 3px solid pink;
}
.fontsize,
.fontstyle {
  border-right: 3px solid pink;
}
.redo,
.h4,
.underline {
  margin-right: 10px;
}
.h1,
.bold {
  margin-left: 5px;
}

.display {
  height: 70vh;
  font-size: 1.5rem;
}
.col1{
  height: 70%;  
  border-bottom: 1px solid black;
}
.col2{
  height: 30%;
}
.bg{
  height: 100%;
  width: 80%;
  margin: auto;
  border-radius: 30px;
  background-color:rgb(235, 229, 229) ;
}
.c1 input{
  width: 90%;
  height: 40px;
  margin-left: 10px;
}
.c1 button{
  height: 45px;
  border-radius: 15px;
margin-left: -108px;
background-color: #f87777;
}
.c2 button{
  width: 30%;
  height: 45px;
  border-radius: 15px;
  margin: 10px;
  background-color: #f87777;

}
/* .button {
  height: 20vh;
  width: 90%;
  margin: auto;
  margin-top: -10px;
  border-radius: 30px;
  background-color: rgb(248, 250, 250);
  position: relative;
  border: 1px double #3b2ec7;
  top: -150px;
  display: flex;
}
.run-command {
  width: 90%;
}
.button input{
  margin-left:60px ;
  width: 100%;
}
.button button {
  width: 15%;
  height: 40%;
  background-color: #e35cda;
  border-radius: 20px;
  position: relative;
  left: -84px;
  top: 18px;
}
.compose-button{
  flex-wrap: wrap;
} */
